*{
    box-sizing: border-box;
    background-color: 	#FFFFF0;
    font-family: "#latin_modern_roman_demi10Rg","Palatino Linotype";
    font-weight: normal;
    font-style: normal;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.entry{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    align-items: center;   
    width:100vw;
}

.menu{
    padding-top: 100px;
    background-color: transparent;
}


.menu>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.menu>ul>li{
    padding: 10px;
    font-size: 2.2em;
    font-weight: bold;
}

.menu>ul>li>a:hover{
    color: #800000;
    text-decoration: underline;
    text-decoration-color: #800000;
    transition: color  linear 300ms, text-decoration-color linear 300ms;
}


.menu > ul > li:not(:last-child) > a::after {
    content: "";
}

.menu > ul > li:not(:last-child) > a::after {
    border-right: solid 3px black;
    padding: 10px;
}


.bottom>*{
    display:none;
}

a{
    text-decoration: none;
    color: inherit;
}

.left-container, .right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}


#profile{
    border-radius:50px;
    box-shadow: 0px 0px 100px 10px gray;
}

#logo{
    width: 200px;
    background-color: inherit;
}

h1{
    font-size: 4em;
    background-color: inherit;
}